{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="col-md-12 offset-md-4">
        <h3>Add Employee</h3>
        
        <br>
        <form action="" method="post">
            {% csrf_token %}
            
            <p>{{form1.as_p}}</p>
                
            
            
            
            <button type="submit" href="{% url 'home' %}">Add</button>
            <a href="{% url 'home' %}" class="btn">Back</a>
          
        </form>
    </div>
</div>
{% endblock %}