{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="col-md-12 offset-md-4">
        <h3>Login User</h3>
        
        <br>
        <form action="" method="post">
            {% csrf_token %}
            <input type="text" value="{{username}}" name="username" placeholder="Username"><br><br>
            <input type="password" value="{{password}}" name="password" placeholder="Password"><br><br>
            
            <button type="submit">login</button>
        </form>
    </div>
</div>
{% endblock %}